<!doctype html>
<html>

<head>
  <%- include('partials/head'); %>
</head>

<body>
  <!--nav bar menu -->
  <%- include('partials/navbar'); %>
  
  <section class="bg-dark text-light pt-5 text-center">

    <!-- <div class="container">
      <div class="row text-white">
          <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
              <h1 class="display-4 py-2 text-truncate">Center my form.</h1>
              <div class="px-2">
                  <form action="" class="justify-content-center">
                      <div class="form-group">
                          <label class="">Name</label>
                          <input type="text" class="form-control" placeholder="Jane Doe">
                      </div>
                      <div class="form-group">
                          <label class="sr-only">Email</label>
                          <input type="text" class="form-control" placeholder="jane.doe@example.com">
                      </div>
                      <button type="submit" class="btn btn-primary btn-lg">Launch</button>
                  </form>
              </div>
          </div>
      </div>
  </div> -->
    
    <!-- <div class="container">
      <div>
        <form method="POST" action="/add-device">
          <div class="row">
            <div class="col-sm-4">
              <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-4">
                  <input type="email" class="form-control" id="inputEmail3">
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="row mb-3">
              <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-4">
                <input type="password" class="form-control" id="inputPassword3">
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="row mb-3">
              <div class="col-sm-4 offset-sm-2">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck1">
                  <label class="form-check-label" for="gridCheck1">
                    Example checkbox
                  </label>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
      </div>
    </div> -->
       
    <form method="POST" action="/add-device">
      <!-- predefined list of device types -->
      <label for = "type" > select your device type : </label>
      <select name = "type" id ="type">
        <option value="tv"> TV </option>   
        <option value="radio"> Radio </option>  
        <option value="door"> Door </option>   
        <option value="dish washer"> Dish washer </option>   
        <option value="washing machine"> Washing machine </option>  
        <option value="fridge"> fridge </option>    
        <option value="oven"> Oven </option>   
      </select><br><br>
      
      <!--name of device-->
      <label for="name"> Enter your device name</label>
      <input id="name" type="text" name="name" value="" required/><br>
      
      <label for="on"> Turn on </label>
      <input type="radio" id="on" name="isOn" value="1" >
      <label for="off"> Turn off </label>
      <input type="radio" id="off" name="isOn" value="0"><br>
      
      <label for="open"> Open </label>
      <input type="radio" id="open" name="isOpen" value="true">
      <label for="close"> Close </label>
      <input type="radio" id="open" name="isOpen" value="false"><br>
      
      <label for="temp">Temp</label>
      <input id="temp" type="number" name="temp" min="1" max="100" value= "" /><br><br>
      
      <label for="frequency">Frequency</label>
      <input type="number" id="frequency" name="frequency" step="20" value = ""/><br><br>
      
      <label for="volume"> Volume </label>
      <input id="volume" type="number" name="volume" min="1" max="100" value= "" /><br><br>
      
      <label for="timer"> Timer </label>
      <input id="timer" type="number" name="timer"  value= "" /> minutes<br><br>
      <label for ="mode"> Enable power saving</label>
      <input id = "mode" type= "radio" name = "mode" value = "active power saving">
      <label for = "mode">Disable power saving </label>
      <input id = "mode" type= "radio" name = "mode" value = "seactive power saving"><br>
      
      <input type="submit" value="add device" />
    </form>
  </section>
  
  <a href="/" class="">
    <i class="bi bi-arrow-left-circle-fill text-light h1"></i>
  </a>
</div>

<!-- Footer -->
<%- include('partials/footer'); %>


</body>

