<!doctype html>
<html>

<head>
  <%- include('partials/head'); %>
</head>

<body class="bg-dark text-light">
  <!--nav bar menu -->
  <%- include('partials/navbar'); %>
  
  <section class="pt-5">
    
    <div class="container">
      <main role="main" class="pb-3">
        <div class="row d-flex justify-content-center mt-100">
          <div class="col-sm-6 col-md-3">
            <div class="text-white bg-dark">
              <form method="POST" action="/add-device">            
                <div class="form-group col-sm-12">
                  <label class="control-label" for="name">Name :</label>
                  <input class="form-control" name="name" type="text" required="required" >
                </div>
                <div class="form-group col-sm-12">
                  <label class="control-label" for="type">Type :</label>
                  <select class="form-control" name="type" id="type-select">
                    <option selected="selected" value="tv">TV</option>
                    <option value="radio">Radio</option>
                    <option value="door">Door</option>
                    <option value="fridge">Fridge</option>
                    <option value="oven">Oven</option>
                  </select>
                </div>
                
                <!-- Initially, all types parameters would be hidden and disabled -->
                
                <!-- TV (default type) -->
                <div id="tv-params">
                  <div class="form-group col-sm-12">
                    <label class="control-label" for="channel">Channel :</label>
                    <select class="form-control" name="channel">
                      <option selected="selected" value="channel 1">Channel 1</option>
                      <option value="channel 2">Channel 2</option>
                      <option value="channel 3">Channel 3</option>
                      <option value="channel 4">Channel 4</option>
                      <option value="channel 5">Channel 5</option>
                      <option value="channel 6">Channel 6</option>
                    </select>
                  </div>
                  <div class="form-switch col-sm-12 p-0" >
                    <label class="form-check-label" for="tv-isOn">Power on :</label>
                    <input class="form-check-input d-block mx-auto float-none" type="checkbox" role="switch" id="tv-isOn" name="isOn">
                  </div>
                  <div class="form-group col-sm-12">
                    <label for="tv-volume">Volume :</label>
                    <input type="range" class="custom-range d-block mx-auto float-none" name="volume" min="0" max="10" step="1" id="tv-volume">
                  </div>
                </div>

                <!-- Radio -->
                <div id="radio-params" class="d-none">
                  <div class="form-switch col-sm-12 p-0" >
                    <label class="form-check-label" for="radio-isOn">Power on :</label>
                    <input class="form-check-input d-block mx-auto float-none" disabled type="checkbox" role="switch" id="radio-isOn" name="isOn">
                  </div>
                  <div class="form-group col-sm-12">
                    <label for="radio-frequency">Frequency :</label>
                    <input type="number" class="form-control" name="frequency" disabled step="any" min="0" id="radio-frequency">
                  </div>
                  <div class="form-group col-sm-12">
                    <label for="radio-volume">Volume :</label>
                    <input type="range" class="custom-range d-block mx-auto" disabled name="volume" min="0" max="10" step="1" id="radio-volume">
                  </div>
                </div>

                <!-- Oven -->
                <div id="oven-params" class="d-none">
                  <div class="form-switch col-sm-12 p-0" >
                    <label class="form-check-label" for="oven-isOn">Power on :</label>
                    <input class="form-check-input d-block mx-auto float-none" disabled type="checkbox" role="switch" id="oven-isOn" name="isOn">
                  </div>
                  <div class="form-group col-sm-12">
                    <label for="oven-temp">Temperature :</label>
                    <input type="range" class="custom-range d-block mx-auto" disabled name="temp" min="0" max="100" step="10" id="oven-temp">
                  </div>
                </div>

                <!-- Fridge -->
                <div id="fridge-params" class="d-none">
                  <div class="form-switch col-sm-12 p-0" >
                    <label class="form-check-label" for="fridge-isOn">Power on :</label>
                    <input class="form-check-input d-block mx-auto float-none" disabled type="checkbox" role="switch" id="fridge-isOn" name="isOn">
                  </div>
                  <div class="form-group col-sm-12">
                    <label for="fridge-temp">Temperature :</label>
                    <input type="range" class="custom-range d-block mx-auto" disabled name="temp" min="-100" max="20" step="1" id="fridge-temp">
                  </div>
                </div>
                
                <!-- Door -->
                <div id="door-params" class="d-none">
                  <div class="form-switch col-sm-12 p-0" >
                    <label class="form-check-label" for="door-isOpen">Open ? :</label>
                    <input disabled class="form-check-input d-block mx-auto float-none"  type="checkbox" role="switch" id="door-isOpen" name="isOpen">
                  </div>
                  <div class="form-group col-sm-12">
                    <label class="control-label" for="keycode">KeyCode :</label>
                    <input disabled class="form-control" name="keycode" type="text" id="door-keycode">
                  </div>
                </div>
                
                
                <div class="text-center mt-4">
                  <input type="submit" id="add-device-submit" value="Add device" class="btn btn-primary">
                </div>
              </form>
            </div>
          </div>
        </main>
      </div>
      
    </section>
    
    <a href="/" class="">
      <i class="bi bi-arrow-left-circle-fill text-light h1"></i>
    </a>
  </div>
  
  <!-- Footer -->
  <%- include('partials/footer'); %>
  <script src="/js/add-device.js" asp-append-version="true"></script>
  
</body>

