<!doctype html>
<html>

<head>
    <%- include('partials/head'); %>
</head>
<body>
    
    <%- include('partials/navbar'); %>
    <label for ="name">Choose your device</label>
    <select name="name" id="name">
        <% result.forEach(function(device){ %>
            <option value= " "><%= device.name %></option>
            
            <% }) %>
        </select>
        
    <!-- Footer -->
    <%- include('partials/footer'); %>
        
    </body>
</html>