<!doctype html>
<html>

<head>
    <%- include('partials/head'); %>
</head>

<body>
    
    <%- include('partials/navbar'); %>

    <h1> This is the delete device page </h1>
    
    <form method="POST" action="/devicedeleted">
        
        <div href=""></div>
    </form>
    
    <!-- Footer -->
    <%- include('partials/footer'); %>
    
</body>


</html>