<!doctype html>
<html>

<head>
  <%- include('partials/head'); %>
</head>

<body class="bg-dark text-light">
  <!--nav bar menu -->
  <%- include('partials/navbar'); %>
  
  <section class="pt-5">
    
    <div class="container">
      <main role="main" class="pb-3">
        <div class="row d-flex justify-content-center mt-100">
          <h1>Your device has been deleted successfully</h1>
        </main>
      </div>
      
    </section>
    
    <a href="/" class="">
      <i class="bi bi-arrow-left-circle-fill text-light h1"></i>
    </a>
  </div>
  
  <!-- Footer -->
  <%- include('partials/footer'); %>
  
</body>

